@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    /* font-family: monospace; */
    font-size: 1rem;
    padding: 1.2em;
    margin: 0 auto;
    max-width: 60em;
}

header {
    font-size: 1.2rem;
    font-weight: bold;
    /* font-family: monospace; */
}

a.liberapay {
    border: 0.2rem #f6c915 outset;
    background-color: #f6c915;;
    padding: 5px;
    color: black !important;
}

a.liberapay:hover {
    background-color: #ffd940 !important;
}

/* .org-src-container { */
/*     position: relative; */
/*     margin-bottom: 1.5em; */
/* } */
/* pre.src, pre.example { */
/*     margin: 0.3em 0 0 0; */
/*     margin-top: 0.3em; */
/*     padding: 0.5em; */
/*     position: static; */
/*     overflow-x: auto; */
/*     -webkit-overflow-scrolling: touch; */
/* } */
/* pre.src::before { */
/*     top: -1em; */
/*     right: 1em; */
/* } */

.org-src-container {
    margin-bottom: 1.5em;
}

pre.inside-src {
    position: relative;
    overflow-x: auto;
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 16px 8px;
}

pre.src, pre.example {
    padding: 0px;
    margin: 0.75em 0 0 0;
}

pre.src.src-text::before {
    content: 'Plain text';
}

code {
    background-color: #e4e4e4;
    border-radius: 3px;
}

.timestamp {
    color: #a1a1a1;
}

.table-container {
    overflow-x: auto;
}

.revolutionary {
  font-weight: bold;
  color: #e84644;
}

a {
    text-decoration: underline;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

ul {
  margin-top: 0;
  padding-left: 1em;
  list-style-type: none;
}

ul li {
  padding-left: 1.5em;
  background-image: url(/assets/img/Red_star.svg);
  background-position: 0px .1em;
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

ul.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    border: 1px solid gray;
    background-image: none;
    padding: 10px;
    margin-bottom: 10px;
}

.project-list details summary {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.pre-sep {
    margin: 0 0.3em;
}

.proles, .proles a {
    float: right;
    background-color: white;
    color: white;
}

.proles:hover, .proles a:hover {
    color: black;
}


.org-webring .org-webring-articles {
    display: flex;
}
.org-webring .org-webring-article-title {
    margin: 0;
}
.org-webring .org-webring-article {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 0.1rem black solid;
    border-color: black;
}
.org-webring .org-webring-article-summary {
    font-size: 0.8rem;
    flex: 1 1 0;
}
.org-webring .org-webring-attribution {
    text-align: right;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    color: #555;
}
.org-webring .org-webring-article-date {
    text-align: right;
    color: black;
}
.org-webring .org-webring-article-source {
    text-align: right;
    color: black;
}
.org-webring .org-webring-timestamp {
    color: #bebebe;
}
@media screen and (max-width: 600px) {
    .org-webring .org-webring-articles {
	display: flex;
	flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .org-webring .org-webring-article {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	margin: 0 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border: 0.1rem black solid;
	border-color: black;
    }
}
