body {
    font-family: monospace;
    font-size: 1rem;
    padding: 10px;
    border: 0.6rem double;
    margin: 0 auto;
    max-width: 60%;
}

header {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    body {
	max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
    body {
	max-width: 80%;
    }
}

a.liberapay {
    border: 0.2rem #f6c915 outset;
    background-color: #f6c915;;
    padding: 5px;
    color: black !important;
}

a.liberapay:hover {
    background-color: #ffd940 !important;
}

pre.inside-src {
    position: relative;
    overflow-x: auto;
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 16px 8px;
}

pre.src {
    padding: 0px;
}

pre.src.src-text::before {
    content: 'Plain text';
}


code {
    background-color: #e4e4e4;
    border-radius: 3px;
}

.timestamp {
    color: #a1a1a1;
}

.table-container {
    overflow-x: auto;
}

a:visited:hover {
    background-color: blueviolet;
    color: white;
}

a:link:hover {
    background-color: blue;
    color: white;
}

a:hover code {
    background-color: gray;
}

ul.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.project-list details summary {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
